---
title: Team Members
layout: default
---
{% capture year %}{{ 'now' | date: "%Y" }}{% endcapture %}
<h1>Who is Eastern Edge Robotics?</h1>
<h2>Current</h2>
<ul>
{% for member in site.data.team %}
{% capture years %}{{member.years}}{% endcapture %}
{% if years contains year or years contains 'present' %}
{% include member.html member=member %}
{% endif %}
{% endfor %}
</ul>
<h2>Past</h2>
<ul>
{% for member in site.data.team %}
{% capture years %}{{member.years}}{% endcapture %}
{% unless years contains year or years contains 'present' %}
{% include member.html member=member %}
{% endunless %}
{% endfor %}
</ul>
