/*
Complementary: FFEB72, FFEF8B, 3B2CB2, B2A23E, 8172FF
Monochromatic: FFEB72, FFF6BE, 7F7B5F, 7F7539, CCBC5B
*/

/*

$light: #EEEEEE;
$base: #132D4F;
$dark: #000000;

$mono_dark: #255A9B;
$mono_light: #3886E8;

$shade_highlight: #3886E8;
$shade_bright: #357FDB;
$shade_light: #265A9B;
$shade_dark: #16355C;

$comp_light: #9B6706;
$comp_dark: #4F3A13;
*/

$light: #DAE0E9;
$mid: #9da6b5;
$base: #24374F;
$dark: #000810;

$mono_dark: #476C9B;
$mono_light: #6AA2E8;

$shade_highlight: #6499DB;
$shade_bright: #476C9B;
$shade_light: #2A405C;
$shade_dark: #182535;

$comp_light: #60656a;
$comp_dark: #3c4045;
/*
$comp_light: #9B7328;
$comp_dark: #4F4024;
/**/

/*
$light: #EEEEEE;
$base: #1C3E62;
$dark: #000000;

$mono_dark: #11253B;
$mono_light: #394D62;

$shade_highlight: #4497EE;
$shade_bright: #326EAE;
$shade_light: #20466F;
$shade_dark: #152E48;

$comp_light: #AE740F;
$comp_dark: #62481C;
*/