

$page_width: 960px;

$content_padding: 15px;

$main_page_slide_show_size: 350px;
$main_page_slide_show_margin_right: 40px;
$main_page_slide_show_margin_left: 25px;


$foot_head_gradient_location: 33%;


